header {
  background-color: #007bff; /* Dark gray background */
  color: #ffffff; /* White text */
  display: flex;
  align-items: center;
  height: 60px; /* Increase header height for better visibility */
  padding: 0 20px; /* Add padding only on left and right sides */
  border: 2px solid #ccc;
  border-radius: 10px;
  box-shadow : 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
  width: 50px;
  height: 50px; /* Adjust height for better proportion */
  margin-right: 10px;
}

.title {
  margin: 0;
  font-size: 24px; /* Adjust font size as needed */
  font-weight: bold;
  text-transform: uppercase; /* Convert text to uppercase */
  flex: 1; /* Let the title take up remaining space */
}

/* Animation for the title */
.title {
  animation: slideIn 1s ease-in-out; /* Adjust animation properties as needed */
}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


.form-wrapper {
  border: 2px solid #ccc;
  border-radius: 20px;
  box-shadow : 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  padding-top: 0px;
  margin : 10px auto;
  height: auto;
  width : auto;
  justify-content: center;
  align-items : center;
  transition: all 0.3s ease;
  margin-bottom: 0px;
  margin-right : 10px;
}

.container2 {
  border : 2px solid #ccc;
  border-radius : 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding : 5px;
  margin : 10px auto;
  height : auto;
  width : auto;
  justify-content: center;
  align-items: center;
  transition : all 0.3s ease;
}

.sub-title {
  font-size: 20px;
  font-weight : bold;
  color : #0878f0;
  margin-bottom : 9px;
}
.msg {
  font-weight : bold;
  color : #4194a8;
  margin : 2px;
  font-size : 16px;
  padding : 4px bottom;
}


.input-wrapper {
  width: 99%;
  
  margin-bottom: 10px;
}

.input-wrapper label {
  font-weight: bold;
  margin-right: 5px;

}

.input-wrapper input[type="range"],
.input-wrapper input[type="date"],
.input-wrapper select {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.calculate-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin : 10px;
  font-size : 20px;
  font-weight : bold;
}

.calculate-button:hover {
  background-color: #0056b3;
}


/* Style for the table */
table {
  width: 100%;
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Style for table header */
thead th {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px 16px;
  text-align: center;
}

/* Style for table body */
tbody td {
  border: none;
  padding: 12px 16px;
  text-align: center;
}

/* Alternate row color */
tbody tr:nth-child(even) {
  background-color: #98bddb;
}

/* Hover effect */
tbody tr:hover {
  background-color: #1878a1;
}

canvas {
  width: auto;
  max-width: 600px; /* Limit the maximum width of the chart */
  margin: 10px auto; /* Center the chart horizontally with some spacing */
  display: block;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.charts-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Optional: Centers the charts horizontally */
}

.chart,
.pie-chart {
  margin-bottom: 3px; /* Optional: Adds space between the charts */
}

.chart-canvas {
  width: 580px; /* Adjust width as needed */
  height: 100px; /* Adjust height as needed */
  margin-top: 5px ;
}
.pie-chart-canvas {
  width : 220px;
  height : 200px;
}



.chart-title {
  text-align: center;
}

.pie-chart-text {
  text-align: center;
  font-weight:bold;
  font-size: 18px; /* Adjust font size as needed */
  color: #1056d8; /* Adjust color as needed */
  margin: 0px 0px;
}

.pie-chart-sub-text {
  text-align: center;
  font-size: 18px; /* Adjust font size as needed */
  color: #000000;
  margin-bottom: 20px;
  margin-top:2px;
}


.input-wrapper {
  display: flex;
  flex-direction: column;
  align-items: right;
  margin-bottom: 2px;
  margin-top : 2px; /* Optional: Add some margin for spacing */
}

.input-wrapper label {
  font-weight: bold;
  margin-bottom: 2px;
  
}

.input-wrapper input[type="range"] {
  width: 100%;
  margin-bottom: 2px; /* Optional: Add some margin between the slider and the text field */
}

.input-wrapper input[type="text"] {
  width: 20%;
  padding: 3px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 2px;
  
}





.download-button {
  background-color: #3a78bb; /* Blue background color */
  color: #ffffff; /* White text color */
  border: none; /* Remove border */
  padding: 10px 20px; /* Add padding */
  cursor: pointer; /* Add pointer cursor on hover */
  border-radius: 4px; /* Add border radius */
  margin-top: 10px; /* Add margin */  
  margin-right: 20px;
}

.download-button:hover {
  background-color: #0056b3; /* Darker blue on hover */
}


.standing-container {
  position: fixed;
  bottom: 10px;
  right: 10px;
}

.standing-boy {
  max-width: 200px;
  background-color: transparent;
  padding: 0px;
  border-radius: 5px;
  
  position: relative; /* Added to establish positioning context */
}

.standing-boy img {
  width: 100%;
}

.standing-boy-msg {
  position: absolute; /* Changed back to absolute */
  top: 0px; /* Adjusted to move the message above the boy */
  left: 0%;
  transform: translateX(-60%);
  background-color: rgba(216, 210, 122, 0.7);
  padding: 5px;
  border-radius: 5px;
  color:black;
  
}


.chat-box {
  position: fixed;
  bottom: 20px;
  right: 20px;
  max-width: 300px;
  background-color: #c52020;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Enable scrolling if content exceeds box height */

}

.message {
  padding: 10px;

}

.message p {
  margin: 0;

}

.message:nth-child(even) {
  background-color: black;
  color:white; /* Alternate background color for even messages */
}

.message:nth-child(odd) {
  background-color: white; 
  color: black/* Alternate background color for odd messages */
}


body {
  background-color: white;
}






.btn-conteiner {
  display: flex;
  justify-content: center;
  --color-text: #ffffff;
  --color-background: #1488f5;
  --color-outline: #0c296b80;
  --color-shadow: #00000080;
  margin-top : 10px;
}

.btn-content {
  display: flex;
  align-items: center;
  padding: 5px 50px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 20px;
  color: var(--color-text);
  background: var(--color-background);
  transition: 1s;
  border-radius: 100px;
  box-shadow: 0 0 0.2em 0 var(--color-background);
}

.btn-content:hover, .btn-content:focus {
  transition: 0.5s;
  -webkit-animation: btn-content 1s;
  animation: btn-content 1s;
  outline: 0.1em solid transparent;
  outline-offset: 0.2em;
  box-shadow: 0 0 0.4em 0 var(--color-background);
}

.btn-content .icon-arrow {
  transition: 0.5s;
  margin-right: 0px;
  transform: scale(0.6);
}

.btn-content:hover .icon-arrow {
  transition: 0.5s;
  margin-right: 25px;
}

.icon-arrow {
  width: 20px;
  margin-left: 15px;
  position: relative;
  top: 6%;
}
  
/* SVG */
#arrow-icon-one {
  transition: 0.4s;
  transform: translateX(-60%);
}

#arrow-icon-two {
  transition: 0.5s;
  transform: translateX(-30%);
}

.btn-content:hover #arrow-icon-three {
  animation: color_anim 1s infinite 0.2s;
}

.btn-content:hover #arrow-icon-one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.btn-content:hover #arrow-icon-two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

/* SVG animations */
@keyframes color_anim {
  0% {
    fill: white;
  }

  50% {
    fill: var(--color-background);
  }

  100% {
    fill: white;
  }
}

/* Button animations */
@-webkit-keyframes btn-content {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}

@keyframes btn-content {
  0% {
    outline: 0.2em solid var(--color-background);
    outline-offset: 0;
  }
}



.cssbuttons-io-button {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 500;
  font-size: 17px;
  padding: 0.8em 1.5em 0.8em 1.2em;
  color: white;
  background: #0084ff;
  background: linear-gradient(0deg, rgb(0, 119, 255) 0%, rgb(95, 159, 255) 100%);
  border: 2px solid #0084ff;
  border-radius: 20em;
  margin: 10px;
  padding: 10px;
}

.cssbuttons-io-button svg {
  margin-right: 8px;
}

.cssbuttons-io-button:hover {
  border-color: white;
  box-shadow: 0 0.5em 1.5em -0.5em #0043bf;
}

.cssbuttons-io-button:active {
  box-shadow: 0 0.3em 1em -0.5em #0043bf;
}

.button-container {
  display: flex;
  justify-content: flex-start; /* or any other appropriate value */
}

.container2 {
  display: flex;
  flex-direction: column;
  align-items: center; /* Adjust alignment as needed */
}

.pie-chart-container {
  display: flex;
  align-items: center;
}

.pie-chart {
  margin-right: 20px; /* Adjust as needed */
}

.pie-chart-info {
  display: flex;
  flex-direction: column;
}


.card {
  width: 260px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);

}

.chat-header {
  display:flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
  font-size: 18px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.chat-header button {
  border : 1px solid white;
  background : none;
  cursor : pointer; 
  color : white;
  
}

.chat-window {
  height: 220px;
  overflow-y: scroll;
}

.message-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.chat-input {
  display: flex;
  align-items: center;
  padding: 10px;
  border-top: 1px solid #ccc;
}

.message-input {
  flex: 1;
  border: none;
  outline: none;
  padding: 5px;
  font-size: 14px;
}

.send-button {
  border: none;
  outline: none;
  background-color: #333;
  color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  cursor: pointer;
}

.send-button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}

